.Main
{
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #ECF2F8;
    font-family: Arial;
}

.Img
{
    display: table-cell;
    width: 100%;
    border-spacing: 10px;
    max-width: 900px;
    min-width: 160px;
    width: auto\9; /* ie8 */
    height: auto; 
    background-color: #ECF2F8;
    padding-top: 30px;
}
.Column
{
    display: table-cell;
    background-color: #ECF2F8;
    vertical-align: middle;
    border-spacing: 10px;
}

.cColumn
{
    display: table-cell;
    background-color: #ECF2F8;
    border-spacing: 10px;
    min-width: 500px;
}

.Item
{
    display: table;
    background-color: #ECF2F8;
    margin:0 auto;
    padding-bottom: 1px;
    width: 100%;
}

.Header
{
    width: 100%;
    table-layout: fixed;
    background-color: #748EAC;
    border-color: #748EAC;
    border-radius: 3px;
    min-width: 250px;
    min-height: 20px;
}
.HeaderText
{
    color: #ffffff;
    vertical-align: middle;
}

.Back
{
    background-color: #ECF2F8;
    vertical-align: middle;
}


h2 {
	background-color: #ECF2F8;
    color: #748EAC;
}

h2, h1, h3 {
    text-indent: 1em;
}

h4 {
	text-align: center;
	 font-size: 2.3vh; 
	
}

.infoLink {
	color: #748EAC;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.8vh; 
}

ul {
	list-style-position: outside;
	margin: 0;
}

li{
	margin: 1px 0;
}

/* ZK combobox */

 	.clusterList {
	    background-color: #ECF2F8;
	}
	
	.clusterList .z-combobox-readonly {
	    border-color: #748EAC
	}
	
	.clusterList .z-combobox-inp {
	    height: 30px;
	    padding: 2px 0 2px 4px;
	    font-size: 20px;
	    font-weight: bold;
	    color: #748EAC;
	    border-radius: 3px 0 0 3px;
	    background-color: #ECF2F8;
	}
	
	.clusterList .z-combobox-focus .z-combobox-inp {
	    border: 1px solid #748EAC
	    margin: 0;
	}
	
	.clusterList .z-combobox-pp .z-comboitem,
	.clusterList .z-combobox-pp .z-comboitem a,
	.clusterList .z-combobox-pp .z-comboitem a:visited {
	    color: #FFFFFF;
	    background-color: #748EAC;
	}
	
	.clusterList .z-comboitem .z-comboitem-text {
	    padding: 4px 0;
	    font-size: 18px;
	}
	
	.clusterList .z-combobox .z-combobox-btn,
	.clusterList .z-combobox .z-combobox-btn-over,
	.clusterList .z-combobox-focus .z-combobox-btn-clk, 
	.clusterList .z-combobox .z-combobox-btn-clk,
	.clusterList .z-combobox-focus .z-combobox-btn,
	.clusterList .z-combobox-readonly ~ .z-combobox-btn, 
	.clusterList .z-combobox-focus .z-combobox-btn-over,
	.clusterList .z-combobox-readonly ~ .z-combobox-btn-over {
		height: 35px;
	    width: 30px;
	    border-left: 0;
	    border-radius: 0 3px 3px 0;
	    box-shadow: inset 1px 1px 0 #748EAC, inset -1px -1px 0 #748EAC;
    	background: url('../img/button.png');
}

